$white: #ffffff;

.filters {
  display: flex;
  height: 214px;
  min-height: 0;
}

.filters__history {
  width: 215px;
  display: flex;
  flex-direction: column;

  padding: 20px 16px;
  border-right: 1px solid #e2e5e8;
  color: #2f343a;
  font-size: 14px;
}

.filters__title {
  color: #8d969f;
  font-size: 12px;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.filters__history-list {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  div {
    margin-bottom: 16px;
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.14);
    border-radius: 999px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.filters__title {
  color: #8d969f;
  font-size: 12px;
}

.filters__form {
  flex: 1;
  padding: 20px 24px;
}

.field {
  display: block;
  position: relative;

  > span {
    position: absolute;
    top: -7px;
    left: 12px;
    background: $white;
    padding: 0 4px;
    font-size: 12px;
    color: #8d969f;
  }
}

.field__input {
  display: flex;
  height: 48px;
  border: 1px solid #dce1e6;
  border-radius: 4px;
  overflow: hidden;

  input {
    flex: 1;
    border: 0;
    padding: 0 16px;
    outline: none;
    font-size: 14px;
  }

  button {
    width: 36px;
    margin: 8px;
    border: 0;
    border-radius: 4px;
    color: #7c8790;
    background: #eef0f2;
  }
}

.checks {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;

  label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    white-space: nowrap;
  }

  input {
    width: 18px;
    height: 18px;
  }
}

.checks_top {
  margin-top: 24px;
}

.only {
  margin: 28px 0 14px;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 767px) {
  .filters {
    display: block;
  }

  .filters__history {
    display: none;
  }

  .filters__form {
    padding: 0;
  }

  .checks,
  .checks_top {
    display: block;
    margin-top: 16px;

    label {
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 16px;
      font-size: 14px;
    }

    input {
      appearance: none;
      -webkit-appearance: none;

      -webkit-tap-highlight-color: transparent;
      outline: none;
      box-shadow: none;

      width: 32px;
      height: 32px;
      margin: 0;

      border: 0;
      border-radius: 50%;
      background: #f3f3f3;

      display: grid;
      place-items: center;
      flex-shrink: 0;
      cursor: pointer;

      transition: 0.15s;
    }

    input::after {
      content: '';
      width: 10px;
      height: 6px;
      border-left: 2px solid #c5c8cc;
      border-bottom: 2px solid #c5c8cc;
      transform: rotate(-45deg);
      margin-top: -2px;
    }

    input:not(:checked)::after {
      opacity: 0;
    }

    input:checked::after {
      opacity: 1;
    }
  }

  .only {
    margin: 16px 0 10px;
    font-size: 14px;
    font-weight: 400;
  }
}
